rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /participants/{uid} {
      allow create, read, update, delete:
        if request.auth != null && request.auth.uid == uid;
    }
    match /aggregates/{doc} {
      allow read, write: if false;
    }
  }
}
